@tailwind base;
@tailwind components;
@tailwind utilities;
 
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@layer base{
  *{
    font-family: 'Quicksand', sans-serif;
  }
}
@layer components {
  .bg-primary-color{
    @apply bg-[#003F91];
  }
  .text-primary-color{
    @apply text-[#003F91];
  }
  .bg-secondary-color{
    @apply bg-[#5DADE9];
  }
  .auth-card{
    @apply bg-white md:w-[500px] lg:h-[520px] rounded-[10px] px-10;
  }
  .form-input{
    @apply border border-[#DBE2EA];
  }
}

.hide-scrollbar::-webkit-scrollbar {
  overflow-y: auto;
  width: 0;
  height: 0;
  opacity: 0;
  background-color: transparent;
}